nav{
position: fixed;
top:0px;
left:auto;

}

#fixedNavbar {
    
    width: 100%;
    position: fixed;
    top: 0px;
    height: 5vh;
    background-color: burlywood;
}
#header{
    display: flex;
}

@media (max-width: 700px){
    #video{
        display: none ;
    }
}